body{
    background-color: lightgray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif 
}

.j{
    text-align: center;
}

.g{
    text-align: right;
}

header{
    background-color: black;
}

h1{
    color: white;
    text-align: center;
    margin: 5px;
    padding: 10px;
}

a:hover {
    color: black;
}

a{
    color: grey;
     text-align: right;
}

p{
    color: grey;
    
}
